@charset "UTF-8";
/* CSS Document */


body{
    margin-bottom: 20%;
	font-family: 'Roboto', sans-serif;
	/*background-image: url(../images/web.png);*/}

#headerCap{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color:	#1F8184;
}
.navbar-default{ 
border:none;

background-color: #BBF0F2;
padding-top:20%;


}

.navbar{
	margin-bottom:0px;
	border-radius: 0px;
	
}

.eff{
	background-color: #FFFFFF;}

.navbar-toggle{
	border:none;
}


	
/*.navbar-right > li:hover{
	color:rgba(20,20,20,0.64);
	background-color:#D6D6D6;} */
	
	/* font */
	
.navbar-nav{
font-size:1.2em;
font-style:oblique;

}

.navbar-brand{
 -webkit-animation: fadeInDown 1s;
 animation: fadeInDown 1s;
 font-weight:900;
 background-color:#208E92;
 font-size:1.5em;
}



.navbar-default .navbar-brand{
	color:#FFFFFF;}

.navbar-left {
 -webkit-animation: fadeInDown 1.5s;
 animation: fadeInDown 1.5s;
}

.item{
	height:400px;
background-color: #393939;
	}
.item > img{	margin-left:auto;
	margin-right:auto;
	
	}
	
.dropdown-menu{
	animation:flipInX .5s;
	-webkit-animation:flipInX .5s;
	
	animation:flipInX .5s;
	font-size:1em;
	border:none;
	background-color: rgba(255,255,255,.7);
	border-radius:0px;}

.dropdown-menu > li > a{
	color:#EDFDFE;
	}


.navbar-default .container-fluid{
	  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  top:0;
}


@media (max-width: 768px){
.navbar{
	margin-top:0%;}
	
.navbar-right > li{
	text-align:center;
	padding:10px 0px;}
}


.icon-barc, .icon-barc:before, .icon-barc:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 27px;
  background: #1F8184;
  position: absolute;
  display: block;
  content: '';
  top: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-toggle:hover .icon-barc:before {
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, -4px, 0);
  -moz-transform: translate3d(0, -4px, 0);
  -ms-transform: translate3d(0, -4px, 0);
  -o-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}

.navbar-toggle:hover .icon-barc:after {
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, 4px, 0);
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -o-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}

.sr-onlyc{
  width: 27px;
  height: 21px;
  position: relative;
  display: block;
  top: 40px;
  left: 40px;
}

.navbar-toggle{
	margin-bottom:0px;
	bottom:-6px;
}

.navbar-default .navbar-toggle{
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover {
	background-color:transparent;
}
	

.icon-barc:before {
  top: -8px;
}

.icon-barc:after {
  bottom: -8px;
}
/*carosel*/

.item{
	height:400px;
background-color: #393939;
	}
.item > img{	margin-left:auto;
	margin-right:auto;
	
	}
.item-1{
	background-image:url(../images/1.jpg);
	background-size:cover;
}
.item-2{
	background-image:url(../images/2.jpg);
	background-size:cover;
}

.item-3{
	background-image:url(../images/3.jpg);
	background-size:cover;
}

.carousel-control.left, .carousel-control.right{
	background-image:none;
}

.carousel{
	padding:0px;
}

.title{
	padding-top:20px;
	background-color:#1F8184;
	color:#E1ECEC;
	text-align:right;

}

.director{
	margin-top:10%;
	font-size:medium;
	color: #979797;
}
/*Animation CSS*/

.btn-tiger, btn-primary{
	height:60px;
	color:#1F8184;
	border-color:#1F8184;
    padding: 10px 20px;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    letter-spacing: 1px;
    outline: none;
    position: relative;
	background-color:transparent;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	border:solid;
	
}

.btn-tiger:hover{
	border:solid;
    color: white;
    background-color: #1F8184;
	border-color:#1F8184;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}


/*flipElements*/
.flipBox{
float:right;
padding:0px;
}

.flip3d{
	float:left;
	height:50px;
	
}

.flip3d > div{
	text-align:center;
}


.text-front, .text-back{
	padding:0px 15px;
	height:100;
	width:100%;}
	
.text-front{background-color:#E1ECEC;
}


.flip3d > .text-front{
	position: absolute;
	transform: perspective(1000px)  rotateX(0deg);
	-webkit-transform: perspective(1000px)  rotateX(0deg);
	
	transition:-webkit-transform 0.2s linear 0s;
	transition:transform 0.2s linear 0s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	color: #FFFFFF;
}

.flip3d > .text-back{
	position:absolute;
	transform:perspective(1000px) rotateX(180deg);
	-webkit-transform:perspective(1000px) rotateX(180deg);
	transition:-webkit-transform 0.2s linear 0s;
	transition:transform 0.2s linear 0s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	
	
	
}


.flip3d:hover > .text-front{
	-webkit-transform:perspective(1000px) rotateX(-180deg);
	transform:perspective(1000px) rotateX(-180deg);
	transition:-webkit-transform 0.3s linear 0s;
	transition:transform 0.3s linear 0s;
}

.flip3d:hover > .text-back{
	-webkit-transform:perspective(1000px) rotateX(0deg);
	transform:perspective(1000px) rotateX(0deg);
	transition:-webkit-transform 0.3s linear 0s;
	transition:transform 0.3s linear 0s;
}

.fbk{
	background-color: #3b5998;
}

  #container{
      margin-top: 10%;
	  text-align: center;
	  -webkit-animation: fadeInDown 1s;
	  animation: fadeInDown 1s;
  }
  #information {
    margin-top: 1em;
    display: block;
    color: red;
    font-size: 20px;
  }
  
  #navigation a {
    display: inline-block;
    line-height: 2.8em;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.1);
    color: #fff;
    border-radius: 40px;
    -webkit-transition: .3s ease-in;
       -moz-transition: .3s ease-in;
        -ms-transition: .3s ease-in;
         -o-transition: .3s ease-in;
            transition: .3s ease-in;
  }
  
  #navigation a.selected, #navigation a:hover {
    background: rgba(0,0,0,.3);
    text-decoration: none;
  }

  #portfolio-item {
    display: none;
  }
  
  #portfolio {
    margin: 2em 0 1em;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  #portfolio div{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1em;
    width: 200px;
    height: 150px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.3);
  }
  
    #portfolio div span {
      text-align: left;
      position: absolute;
      color: #fff;
      background: rgba(0,0,0,0.1);
      width: 90px;
      padding: 5px 15px 7px;
      z-index: 1;
      left: -10px;
      bottom: 10px;
    }
  
  .animated {
    -webkit-transition: .9s ease-out;
       -moz-transition: .9s ease-out;
        -ms-transition: .9s ease-out;
         -o-transition: .9s ease-out;
            transition: .9s ease-out;
  }
  
  .flipped-horizontal-right {
    -webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
         -o-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  
  .flipped-horizontal-left {
    -webkit-transform: rotateY(-360deg);
       -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
         -o-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
  
  .flipped-vertical-top {
    -webkit-transform: rotateX(360deg);
       -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
         -o-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  
  .flipped-vertical-bottom {
    -webkit-transform: rotateX(-360deg);
       -moz-transform: rotateX(-360deg);
        -ms-transform: rotateX(-360deg);
         -o-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }


.flip3d{
	margin:0px;
	width:100%;
	height:100px;
}
.text-front{
	height:100px;
}
.text-back{
	height:100px;
}

  @media (max-width: 990px){
.item{
	height:350px;
	}
	
.flip3d{
	
	margin:0px;
	width:25%;
	height:100px;
}
.text-front{
	width:25%;
	height:100px;
}
.text-back{
	width:25%;
	height:100px;
}

}

  @media (max-width: 480px){
.item{
	height:400px;
	}
	
.flip3d{
	height:200px;
}
.text-front{
	height:200px;
}
.text-back{
	height:200px;
}

}

  @media (max-width: 320px){
	  
.item{
	height:300px;
	}
	
.flip3d{
	height:200px;
}
.text-front{
	height:200px;
}
.text-back{
	height:200px;
}

}


/*color*/
.dd1{background-color: #A1E6E9;
}
.dd2{background-color: #51D2D6;
}
.dd3{background-color: #208E92;
}

